body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}
header {
    background-color: #3498db;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
}

.content {
    max-width: 800px;
    margin: 0 auto;
}

.oi {
width: 250px;
position: absolute;
padding: 0 0 200px;

}
footer {
    background-color: #34495e;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}